@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis');
  ::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    
}
 
::-webkit-scrollbar-thumb {
  background:blue;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


video{ width:300px; height: 426px;  --_track:
  hsl(228 100% 90%);
  margin:10px;
  --_progress:#000129;} video:hover::-webkit-media-controls-panel{ border-radius: 0; width:25%; height:21%; top:76% position:relative; background:linear-gradient(90deg, rgba(9,9,121,0.6811099439775911) 100%, rgba(0,212,255,1) 100%, rgba(4,4,19,0.5438550420168067) 100%); /*background:blue;*/ border-radius: 0; width:25%; height:21%; top:79%; position:relative; border-top: 10px solid blue; --_track: hsl(228 100% 90%);
  --_progress:#000129; }


.tooltip {
  position: relative;


}

.tooltip .tooltiptext {
  overflow-wrap:break-word;
  max-width: 400px;
  visibility: hidden;
  width:72%;
  background-color: rgba(164,164,164,0.7763480392156863);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
*{
  font-family:'Press Start 2P' ;
  color:black; 
  flex-wrap: wrap;
  padding: 0 4px;

}

/* .bac-loa{
animation: show .3s 1.5s backwards reverse;
}
@keyFrames show{
  from{
    clip-path: polygon(0,0 100% 0, 100% 100%,0% 100%);
}
  to{ clip-path:polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}
} */ */
.bac-loa{background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  height:500px;
  width:1340px;
  position:absolute;
}
*,
:after,
:before {
  box-sizing: border-box;
}

:where(body) {
  min-block-size: 100%;
}

/* Simple 
To support other browsers like webkit and mozilla, see advanced */



@-webkit-keyframes progress-loading-simple {
  50% {
    background-position: left;
  }
}

@keyframes progress-loading-simple {
  50% {
    background-position: left;
  }
}










/* Advanced */
.advanced {
  --_track: hsl(228 100% 90%);
  --_progress:#000129;
  --_indeterminate-track: linear-gradient(
    to right,
    var(--_track) 45%,
    var(--_progress) 0%,
    var(--_progress) 55%,
    var(--_track) 0%
  );
  --_indeterminate-track-size: 225% 100%;
  --_indeterminate-track-animation: progress-loading 2s infinite ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  position: relative;
  height: min(10px, 1ex);
  border-radius: 1e3px;
  overflow: hidden;
}



.advanced:indeterminate:after {
  content: "";
  inset: 0;
  position: absolute;
  background: var(--_indeterminate-track);
  background-size: var(--_indeterminate-track-size);
  background-position: right;
  -webkit-animation: var(--_indeterminate-track-animation);
  animation: var(--_indeterminate-track-animation);
}

@-webkit-keyframes progress-loading {
  50% {
    background-position: left;
  }
}

@keyframes progress-loading {
  50% {
    background-position: left;
  }
}

label {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
}

.card {
  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;
  display: grid;
  gap: var(--size-3);
  padding: 1.25rem 1.75rem;
  max-inline-size: 90vw;background: rgba(0, 0, 255, 0.14);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
border: 1px solid rgba(0, 0, 255, 0.3);
  border-radius: 1e5px;
  border: 1px solid #e9ecef;
  box-shadow: 0 -1px 2px 0 hsl(var(--shadow-color) /
          calc(var(--shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
  inline-size: 45ch;
}
.card{
top: 300px;
    position: absolute;
  
}
.card progress {
  inline-size: 100%;
}


img{
  -webkit-animation: kenburns-top-right 5s ease-out both;
	        animation: kenburns-top-right 5s ease-out both;
}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
            transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.00) translate(20px, -15px);
            transform: scale(1.00) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}

p{
  color:#3bd0ff;
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.dip{
background-imgage:"";
}
.titulo{
/*   background-image:url(https://user-images.githubusercontent.com/106701602/230174643-a95b320a-ee60-4ea3-9185-99333624b201.jpg); */
    width:100%;
  height:100px;
  background-position: center;
  color:black;
}
body {
	background:#111;	
	font-size:18px;
	color:#FFF;
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}
@-webkit-keyframes color-change-2x {
  0% {
    background: #000129;
  }
  100% {
    background: #3835ff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #000129;
  }
  100% {
    background: #3835ff;
  }
}

h1 {
  font-size:2em;
  text-align:center;
  margin:20px 0 40px;
  padding:0;
}
.container {webkit-box-shadow: 40px 21px 32px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 40px 21px 32px 0px rgba(0,0,0,0.75);
box-shadow: 40px 21px 32px 0px rgba(0,0,0,0.75);
Copy Text

background: rgba(38, 79, 239, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
-webkit-backdrop-filter: blur(10.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
	width:80%;
	margin:0 auto;
	overflow:auto;
	padding:2%;
}
.right-content, .left-content {
	float:left;
	display:block;
	width:40%;
	padding:1% 2%;
}
.left-content {
	border-right:5px dotted #666;	
	text-align:right;
}
.left-content p {
	margin:150px 0 0;
}
.right-content p {
	margin:80px 0 150px;
}
.container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}
.typewriter {
    font-family: 'Anonymous Pro', monospace;
    width: 70%;  
  }
  h1 {
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
        font-weight: normal;

  }
  h1:after{
   content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
  }

  /* The typewriter cursor effect */
  @keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }
.cursor{
  width: 1rem;
  height: 1rem;
  _border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%,-250%);
  pointer-events: none;
  cursor: none;
}

